html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Press Start 2P';
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: #43C6AC;   fallback for old browsers
background: -webkit-linear-gradient(to top, #F8FFAE, #43C6AC); Chrome 10-25, Safari 5.1-6
background: linear-gradient(to top, #F8FFAE, #43C6AC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding-top: 2em;

}

header h1 {
    width: 100%;
    font-size: 2.9em;
    color: #00267d;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 25%;

}

/*
Scoreboard
*/
.score-panel {
    float: left;
    margin-right: 20px;
    margin-top: 49px;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.score-panel .counter {
	padding-bottom: 15px;
    font-weight: bold;
    color: #716d6d;
    display: flex;
    flex-direction: column;

}

.counter .box-details{
	margin: 0 auto;

}

.score-panel #timer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;

}

#timer .time-header,
#timer .time-display {
	width: 100%;
	margin: 0 auto;

}

/*
 * Styles for the Score Panel
 */
.score-panel > div {
    text-align: center;

}

.score-panel .counter{
	width: 100%;

}

.score-panel .lives {
    padding-bottom: 15px;
    width: 100%;

}

.score-panel .lives div,
.score-panel .lives ul {
	width: 100%;
	margin: 0 auto;

}

.score-panel .lives li {
    list-style: none;
    display: block;
    padding: 5px;
    margin: auto;

}

.hearts {
    margin: 0 auto;
    padding: 0;
    display: flex;

}

.fa-heart {
    color: #e60000;
    font-size: 35px;

}

.score-panel .moves .moves-elem {
    display: inline-block;

}

.score-panel .moves #moves-number {
    width: 10px;

}

.score-panel .timer .timer-elem {
    display: inline-block;

}

.score-panel .timer #timer-mins {
    width: 25px;

}

.score-panel .timer #timer-secs {
    width: 25px;

}

.score-panel .restart {
    flex-basis: 12%;
    float: right;
    cursor: pointer;
    font-size: 20px;

}

/*
 * Gems panel
 */
.gems {
    width: 100%;
    box-sizing: border-box;

}

.score-panel .gems div,
.score-panel .gems ul {
	width: 100%;
	margin: 0 auto;

}

.gems img {
    width: 40px;

}

.gems ul {
    padding: 0 0.5em;
    margin-top: 0;
    display: flex;
    flex-direction: row;

}

.gems li{
    list-style: none;
    padding: 0;
    margin: auto;

}

.gems #seahorse-gem {
 	padding-left: 3px

}

 .gems #star-gem {
 	padding-left: 9px

}

.box-header {
    width: 100%;
    height: 40px;
    background-color: #00267d;
    color: #fee66e;
    display: flex;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 10px 0 0;

}

.box-details {
    width: 100%;
    height: 60px;
    background-color: #fee66efc;
    color: #0ed2f7;
    border-radius: 0 0 10px 10px;
    font-family: Franklin Gothic Medium;
    font-size: 1.1em;

}


/*
 * Start panel
 */
.start {
    width: 304px;
    height: 200px;
    background-color: #fee66e;
    position: absolute;
    left: 40%;
    margin-left: auto;
    margin-right:  auto;
    top: 22%;
    border-radius: 10px;
    display: none;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);

}

.start-title {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
    font-size: 1em;
    font-weight: bold;

}

.nav {
    width: 20%;
    height: 50%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;

}

.avatar {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 33%;

}

.avatar img {
    cursor: pointer;

}

/*
 * Game Over - Popup window
 */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.alert {
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 80%;
    min-height: 500px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

}

.alert h2 {
    text-align: center;
    color: #333;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 0 0 30px 0;
}

.close-button {
    width: 100%;
    flex-basis: 50px;
    display: flex;
    justify-content: flex-end;
}

.close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.close:hover {
    color: #E5F720;
}

#game-over-details {
	flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#game-over-gif img {
	max-width: 400px;
	max-height: 400px;
}

.content-1,
.content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
    margin-bottom: 20px;
}
.content-1{
	font-size: 20px;
}
.content-2{
	font-size: 17;
}

.content-2 p:first-child{
	margin-bottom: 30px;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#starRating li {
    display: inline-block;
}

/*button to play again*/
#play-again-button {
    flex-basis: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#play-again {
    box-sizing: content-box;
    background-color: #1abc9c;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}
